<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OverlayShortcut.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <OverlayShortcut.Properties.Settings>
            <setting name="btnName1" serializeAs="String">
                <value />
            </setting>
            <setting name="btnShortcut1" serializeAs="String">
                <value />
            </setting>
            <setting name="btnName2" serializeAs="String">
                <value />
            </setting>
            <setting name="btnShortcut2" serializeAs="String">
                <value />
            </setting>
            <setting name="btnShortcut3" serializeAs="String">
                <value />
            </setting>
            <setting name="btnShortcut4" serializeAs="String">
                <value />
            </setting>
            <setting name="btnShortcut5" serializeAs="String">
                <value />
            </setting>
            <setting name="btnShortcut6" serializeAs="String">
                <value />
            </setting>
            <setting name="btnShortcut7" serializeAs="String">
                <value />
            </setting>
            <setting name="btnShortcut8" serializeAs="String">
                <value />
            </setting>
            <setting name="btnName3" serializeAs="String">
                <value />
            </setting>
            <setting name="btnName4" serializeAs="String">
                <value />
            </setting>
            <setting name="btnName5" serializeAs="String">
                <value />
            </setting>
            <setting name="btnName6" serializeAs="String">
                <value />
            </setting>
            <setting name="btnName7" serializeAs="String">
                <value />
            </setting>
            <setting name="btnName8" serializeAs="String">
                <value />
            </setting>
        </OverlayShortcut.Properties.Settings>
    </userSettings>
</configuration>